@use '../../scss/' as *;
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
.wrap__product__btn {
    margin: 0 auto 20px;
    text-align: center;

    @include mobile {
        display: flex;
        overflow-x: auto;
        
        &::-webkit-scrollbar {
            display: none;
          }
    }

}
.product__btn {
    background-color: #fff;
    color: #000;
    padding: 13px 23px;
    border: 1px #dde1ef solid;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 400;


    @include mobile {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin:0;
        border: none;
        padding: 10px 20px;
        text-align: center;
        font-weight: 500;
        font-size: 1.4rem;
        border: none;

        &:hover {
            border: none !important;
        }


    
    }

    @include tablet {
        font-weight: 400;
        font-size: 1.2rem;
        padding: 12px 25px;

    }


    &:hover {
        border: 1px solid $main-color;
        background-color: $main-color;
        color: #fff;
    }
}

.active__tab {
    border: 1px solid $main-color;
    background-color: $main-color;
    color: #fff;
}